body {
  background-image: linear-gradient( 45deg, whitesmoke, lightgrey, whitesmoke );
  box-sizing: border-box;
  color: darkslategrey;
  font-family: monospace;
  font-weight: 600;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

header {
  background-color: rgba( 240, 240, 240, 0.7 );
  backdrop-filter: blur( 8px );
  display: flex;
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
  text-shadow: 1px 1px 5px lightgrey;
}

.cart .cart-body {
  height: 70vh;
  margin: 20vh 0;
  overflow-y: auto;
  position: fixed;
}

.cart .cart-header {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  height: 20vh;
  padding: 10px 0 0;
  position: fixed;
  text-align: center;
  width: 30%;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
}

.cart .empty-cart {
  background-color: forestgreen;
  border: none;
  box-shadow: 1px 1px 5px grey;
  color: white;
  cursor: pointer;
  font-family: monospace;
  font-weight: 700;
  margin: 0 auto;
  padding: 10px;
  transition: 0.3s;
  width: 90%;
}

.cart .empty-cart:hover {
  background-color: chartreuse;
  box-shadow: 1px 1px 5px chartreuse;
}

.cart .cart-total {
  font-size: 1.2em;
  margin: 16px;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 10vh 0 0;
  width: 100%;
}

.item {
  background-color: white;
  box-shadow: 1px 1px 5px grey;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  height: auto;
  margin: 5px;
  transition: 0.3s;
  width: 200px;
}

.item:hover {
  box-shadow: 1px 1px 5px black;
}

.item .item__add {
  background-color: forestgreen;
  border: none;
  color: white;
  cursor: pointer;
  font-family: monospace;
  font-weight: 700;
  margin: 0;
  padding: 10px;
  transition: 0.3s;
}

.item .item__add:hover {
  background-color: chartreuse;
}

.item .item__image {
  width: 100%;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 10px;
}

.search-box {
  border: 1px solid grey;
  display: block;
  margin: 3vh auto;
  opacity: 0.9;
  padding: 0.3em 0.5em;
  transition: 0.3s;
  width: 70%;
}

.search-box:hover {
  border: 1px solid white;
  box-shadow: 1px 1px 5px white;
  opacity: 1;
}
