body {
  background: rgb(237, 237, 237);
  font-family: Poppins, sans-serif;
  margin: 0;
}

header {
  align-items: center;
  background: rgb(122, 27, 201);
  border-bottom: 1px solid rgb(190, 190, 190);
  display: flex;
  justify-content: center;
  height: 90px;
  margin-bottom: 20px;
}

.logomarca {
  margin-right: 10px;
  width: 70px;
}

.title {
  color: white;
  font-family: Ubuntu, sans-serif;
  margin: 0;
}

.top-bar {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.top-bar .input-name-group {
  align-items: flex-start;
  display: flex;
}

.top-bar .input-terms-group {
  align-items: flex-start;
  display: flex;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  background: white;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background: rgb(122, 27, 201);
  border: 0;
  color: white;
  cursor: pointer;
  margin: 0;
  padding: 5px;
  transition: background 300ms;
}

.item .item__add:hover {
  background: rgb(47, 193, 140);
}

.cart {
  align-items: center;
  background: white;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
  margin: 5px 30px;
  padding: 20px;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}

.cart .cart__items {
  padding: 0;
}

.empty-cart {
  background: rgb(47, 193, 140);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
  padding: 8px 32px;
  transition: background 300ms;
}

.empty-cart:hover {
  background: rgb(34, 150, 107);
}

.cart__item {
  list-style: none;
  border-bottom: 1px solid rgb(204, 204, 204);
  margin: 10px 0;
}
