body {
  background-color: ghostwhite;
  margin: 0;
}

img {
  width: 70px;
}

input {
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 6px black;
  padding: 12px;
}

p {
  border: white;
  border-radius: 4px;
}

.price {
  background-color: rgb( 26, 188, 156 );
  border: none;
  border-radius: 2px;
  color: white;
  padding: 7px;
}

.cart__items {
  background-color: rgb( 26, 188, 156 );
  border: none;
  border-radius: 2px;
  color: white;
  margin: 5px;
  padding: 15px 40px;
}

.cart__item {
  border-radius: 3px;
  margin: 10px 0;
  padding: 10px;
}

.cart__item:hover {
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 0 0 20px rgb(9, 80, 66);
  margin: 10px 0;
  padding: 10px;
}

.icon-search {
  color: white;
}

.top-bar {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.search-container {
  align-self: center;
}

.search-container button {
  background: rgb( 26, 188, 156 );
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 6px black;
  font-size: 17px;
  cursor: pointer;
  padding: 10px;
}

.items-content {
  display: flex;
  justify-content: space-around;
}

.empty-cart {
  align-self: center;
  background-color: rgb( 26, 188, 156 );
  border: none;
  border-radius: 3px;
  color: aliceblue;
  padding: 7px;
}

.logo-content {
  display: flex;
  text-shadow: 0 2px 4px black;
  font-size: 24px;
}

.icon-search:hover {
  color: black;
}

.top-bar .input-name-group {
  align-items: flex-start;
  display: flex;
}

.top-bar .input-terms-group {
  align-items: flex-start;
  display: flex;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  border-radius: 3px;
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 5px;
}

.item {
  background-color: white;
  box-shadow: 0 0 0 rgb( 26, 188, 156 );
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item:hover {
  background-color: white;
  box-shadow: 0 0 20px rgb(19, 139, 115);
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: rgb( 26, 188, 156 );
  border-radius: 0 0 3px 3px;
  border: 0;
  color: aliceblue;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
}

.cart .cart__title {
  background-color: rgb( 26, 188, 156 );
  border-radius: 3px;
  color: white;
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}

.total-price {
  align-self: center;
  margin: 10px;
}

.loading {
  border: 8px solid rgba( 0, 0, 0, 0.1 );
  border-left-color: aquamarine;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.header-content {
  box-shadow: 2px 2px 6px black;
  background: rgb( 26, 188, 156 );
  color: white;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;
}

@keyframes spin {

  to {
    transform: rotate( 360deg );
  }
}
