body {
  background-color: rgb( 237, 236, 236 );
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.btn-input {
  background-color: white;
  background-image: url( 'lupa.png' );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  border: 0 rgba( 0, 0, 0, 0.2 );
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgb( 0, 0, 0, 0.2 );
  box-sizing: border-box;
  margin-left: 1px;
  padding: 17px;
  position: relative;
  width: 46px;
}

.cart {
  background-color: white;
  border: 1px solid rgb( 196, 196, 196 );
  border-radius: 7px;
  box-shadow: 1px 1px 10px gray;
  color: rgb( 51, 51, 51 );
  display: flex;
  flex-flow: column wrap;
  line-height: 22px;
  margin-top: 15px;
  overflow-y: auto;
  padding: 10px;
  position: absolute;
  right: 1%;
  width: 22%;
}

.cart:hover {
  box-shadow: 1px 1px 10px rgb( 29, 102, 104 );
  transition: 0.4s;
}

.cart .cart__item {
  font-size: 10pt;
  margin: 10px auto;
  max-width: 380px;
  width: 100%;
}

.cart .cart__title {
  color: cadetblue;
  font-size: 20pt;
  font-weight: 600;
  flex-basis: 1;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.cart .empty-cart {
  background-color: cadetblue;
  border: 1px solid;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 0;
  padding: 5px;
  width: 100%;
}

.cart .empty-cart:hover {
  background-color: rgb( 67, 121, 123 );
  transition: 0.4s;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 120px;
  padding: 20px;
  width: 100%;
}

.content {
  display: flex;
  justify-items: center;
  width: 50%;
}

.date {
  margin-right: 50px;
}

.footer {
  background-color: rgba( 67, 121, 123, 0.8 );
  bottom: 0;
  color: white;
  display: block;
  font-size: 2vh;
  height: 2.5%;
  letter-spacing: 0.5px;
  margin-left: 0;
  padding-bottom: 0.3vh;
  padding-top: 0.5vh;
  position: fixed;
  text-align: center;
  width: 100%;
}

.img {
  margin: 0 20px;
  width: 150px;
}

.input {
  background-color: white;
  border: 0 rgba( 0, 0, 0, 0.2 );
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgb( 0, 0, 0, 0.2 );
  box-sizing: border-box;
  color: rgb( 51, 51, 51 );
  font-size: 12pt;
  padding: 7px 60px 9px 15px;
  position: relative;
  width: 100%;
}

.item {
  background-color: white;
  border: 1px solid rgb( 196, 196, 196 );
  box-shadow: 1px 1px 10px gray;
  border-radius: 5px;
  box-sizing: border-box;
  color: rgb( 51, 51, 51 );
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 15px;
  width: 200px;
}

.item:hover {
  box-shadow: 1px 1px 10px rgb( 29, 102, 104 );
  transition: 0.4s;
}

.item .item__add {
  background-color: cadetblue;
  border: 1px solid;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

.item .item__add:hover {
  background-color: rgb( 67, 121, 123 );
  transition: 0.4s;
}

.item .item__image {
  margin: 5px auto;
  width: 90%;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
}

ol {
  margin-left: 10px;
  padding-left: 5px;
}

.price {
  border: 1px solid cadetblue;
  border-radius: 5px;
  color: rgb( 51, 51, 51 );
  font-size: 12pt;
  margin: 10px 0 20px;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}

.top-bar {
  align-items: center;
  background: linear-gradient( cadetblue, rgb( 227, 227, 95 ) );
  box-shadow: 1px 1px 10px gray;
  color: white;
  font-size: 17pt;
  display: flex;
  height: 100px;
  justify-content: space-between;
  opacity: 0.95;
  padding: 0 0 20px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.top-bar .input-name-group {
  align-items: flex-start;
  display: flex;
}

.top-bar .input-terms-group {
  align-items: flex-start;
  display: flex;
}

.total-price {
  color: cadetblue;
  font-size: 15pt;
  font-weight: 600;
  margin: 10px;
  text-align: center;
}
